<nav class="site-nav">
  <ul class="site-nav--links">
    <li><a href="#about-section">О нас</a></li>
    <li><a href="#interiors-section">Интерьеры</a></li>
    <li><a href="#furniture-section">Мебель</a></li>
    <li><a href="#feedback-section">Отзывы</a></li>
    <li><a href="#contacts-section">Контакты</a></li>
  </ul>  
  <footer>
    <ul class="site-nav--socials">
      <li>
        <a href="" aria-label="instagram"><i class="icon-instagram"></i></a>
      </li>
      <li>
        <a href="" aria-label="twitter"><i class="icon-twitter"></i></a>
      </li>
      <li>
        <a href="" aria-label="facebook"><i class="icon-facebook"></i></a>
      </li>
    </ul>
    <a class="phone" href="tel:+78008234888">+7 (800) 823 48 88</a>
    <a class="email" href="mailto:cozy-designs@gmail.com">cozy-designs@gmail.com</a>
  </footer>
</nav>
