<div class="top-sticky">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5 col-6 offset-sm-1 flex flex-align-center">
        <a href="/" aria-label="домашняя страница"><img class="logo" src="/images/logo-light.svg" alt="логотип Cozy"></a>
      </div>
      <div class="col-sm-5 col-6 flex flex-align-center flex-justify-end">
        <button class="menu-btn">
          <div class="hamburger">
            <span class="hamburger--top"></span>
            <span class="hamburger--middle"></span>
            <span class="hamburger--bottom"></span>
          </div>
          <span class="menu-btn--text">Меню</span>
        </button>
      </div>
    </div>
  </div>
</div>
