<section id="contacts-section" class="contacts-section">
  <div class="row">
    <div class="offset-xl-2 offset-sm-1 col-xl-10 col-sm-11">
      <header>
        <h2>Давайте работать<br/> вместе</h2>
        <p>Напишите нам по делу, или просто <br/>
        скажите привет : )</p>
      </header>
      <form action="/">
        <div class="input-wrap">
          <label for="contact-name">Имя</label>
          <input type="text" id="contact-name" name="contact-name">
        </div>
        <div class="input-wrap">
          <label for="contact-email">Электронная почта</label>
          <input required type="email" id="contact-email" name="contact-email">
        </div>
        <div class="input-wrap">
          <label for="contact-message">Сообщение</label>
          <textarea required id="contact-message" name="contact-message" cols="30" rows="6"></textarea>
        </div>
        <button type="submit">Отправить</button>
      </form>
    </div>
  </div>
</section>
