<section id="feedback-section" class="feedback-section dark-section">
  <div class="row">
    <div class="col-xl-12 offset-xl-2 col-sm-11 offset-sm-1">
      <h2>Отзывы клиентов</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 offset-xl-2 col-lg-11 offset-lg-1 col-md-11 offset-md-1 col-sm-8 offset-sm-2">
      <div class="feedback-slider">
        <div class="feedback-slider--left">
          <figure>
            <canvas></canvas>
          </figure>
          <div class="feedback-slider--controls">
            <button class="feedback-slider--prev" aria-label="Предыдущий отзыв">
              <img src="/images/arrow-left.svg" alt="стрелка влево">
            </button>
            <div class="feedback-slider--dots"></div>
            <button class="feedback-slider--next" aria-label="Следующий отзыв">
              <img src="/images/arrow-right.svg" alt="стрелка вправо">
            </button>      
          </div>
        </div>
        <div class="feedback-slider--right">
          <div class="feedback-slider--count">
            <span class="feedback-slider--count-rect"></span>
            <span class="feedback-slider--count-current"></span>
            /
            <span class="feedback-slider--count-overall"></span>
          </div>
          <div class="feedback-slider--text">
            <div class="feedback-slider--header-container">
              <h3 class="feedback-slider--header">
              </h3>
            </div>
            <div class="feedback-slider--name-container">
            <span class="feedback-slider--name">
            </span>
            </div>
            <div class="feedback-slider--quote-container">
            <p class="feedback-slider--quote">
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
