<footer class="site-footer dark-section">
  <a class="phone" href="tel:+78008234888">+7 (800) 823 48 88</a>
  <a class="email" href="mailto:cozy-designs@gmail.com">cozy-designs@gmail.com</a>
  <ul class="socials">
    <li>
      <a href="" aria-label="instagram"><i class="icon-instagram"></i></a>
    </li>
    <li>
      <a href="" aria-label="twitter"><i class="icon-twitter"></i></a>
    </li>
    <li>
      <a href="" aria-label="facebook"><i class="icon-facebook"></i></a>
    </li>
  </ul>
</footer>
