<header class="main-head">
  <canvas id="head-bg"></canvas>
  <div class="row full-height">
    <div class="offset-sm-1 col-sm-11">
      <div class="hero">
        <h1>Студия дизайна интерьера</h1>
        <p>
        Студия дизайна интерьера любого типа в Ханты-Мансийске - от небольших квартир до грандиозных коммерческих проектов
        </p>
        <a class="button" href="#about-section">Далее</a>
      </div>
    </div>
  </div>
</header>
